* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    background: rgb(248, 235, 211);
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.container ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    list-style: none;
}

.container .left, .right, .center {
    margin: 10px;
}

.container a, h3 {
    background-color: #fff;
    text-decoration: none;
    padding: 5px 0;
}

.container .center h3 {
    padding: 10px;
    color: rgb(215, 103, 38);
    font-size: 16px;
}

.container li a {
    margin: 0.4rem;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .container .left, .right {
        gap: 2rem;
    }

    .container .center h3 {
        font-size: 24px;
    }
}