* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
}

.card {
    background: #fff;
    margin: 30px 30px 0;
    overflow: auto;
    padding: 10px 10px 0 10px;
    font-size: 16px;
}

.box {
    background: #b6dff1;
    margin: 10px 0;
    padding: 10px 5px;
}

.title {
    font-weight: bold;
}

/* masalah: menengahkan selector */

/* solusi 1: menggunakan flexbox */

/* .last-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
} */

/* Solusi 2: menggunakan margin auto */
.box .btn {
    margin: 0 auto;
}

.last-content {
    text-align: center;
}

.box .btn {
    display: block;
    background: #fff;
    width: 30vw;
    padding: 5px 10px;
}