* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.warn-logo {
    width: 50px;
    height: 50px;
    background: #b3e8f5;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: blue;
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 85%;
    flex-grow: 1;
}

.close-btn {
    width: 20px;
    height: 20px;
    padding: 15px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    background: #ddd;
    color: #949292;
    border: none;
}

.title-close {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.content {
    font-size: 16px;
    text-align: justify;
}

button {
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background: rgb(108, 108, 241);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cancel {
    background: #fff;
    color: rgb(108, 108, 241);
    border: 1px solid rgba(0, 0, 0, 0.3);
}