* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 20px;
}

.container .title h3 {
    font-size: 32px;
}

.container .content {
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
}

.container .content .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}